<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h2>添加用户</h2>
    <form action="/doAdd" method="post" enctype="multipart/form-data">
        Id：<input type="text" name="id" placeholder="用户ID"/>
        <br><br>
        username：<input type="text" name="username" placeholder="用户名"/>
        <br><br>
        age：<input type="text" name="age" placeholder="年龄"/>
        <br><br>
        email：<input type="text" name="email" placeholder="邮箱"/>
        <br><br>
        addTime：<input type="text" name="addTime" placeholder="添加时间"/>
        <br><br>
        <input type="submit" value="提交">
    </form>
</body>
</html>